.card {
  width: 100%;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.card-header {
  background-color: #f5f5f5;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between; /* Añadido para separar el botón del título */
  align-items: center; /* Añadido para centrar verticalmente */
}

.card-body {
  padding: 15px;
  background-color: white;
  border-radius: 0 0 5px 5px;
  overflow: auto;
  max-height: 400px; /* Ajusta esto a la altura máxima que desees para la lista */
}

.card-footer {
  background-color: #f5f5f5;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f5f5f5;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-control-dark-mode {
  background-color: #333;
  color: white;
}

.email-column {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.id-column {
  width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

/* Dark Mode */
.card.dark-mode {
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.card-header.dark-mode {
  background-color: white;
  color: white;
}

.card-body.dark-mode {
  background-color: white;
}

.card-footer.dark-mode {
  background-color: #555;
  color: black;
}

.table.dark-mode th {
  background-color: #555;
  color: white;
}

.table.dark-mode td {
  background-color: #444;
  color: white;
}

.btn-dark-mode {
  background-color: #6c757d;
  color: white;
}
