.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container .btn {
  margin: 5px;
}

.button-container .btn-sm {
  padding: 5px 6px;
  font-size: 12px;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}

td a {
  text-decoration: none;
  color: #337ab7;
}

td a:hover {
  color: #23527c;
}
