.customer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.customer-row td {
  flex: 1;
  text-align: center;
}

.btn {
  margin: 0 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.name-column {
  width: 400px;
}

.id-column {
white-space: nowrap;
}
.email-column {
width: 200px; /* Ajusta esto al ancho que desees */
overflow: hidden; /* Asegura que el contenido no se desborde */
text-overflow: ellipsis; /* Muestra puntos suspensivos si el contenido es demasiado largo */
white-space: nowrap; /* Evita que el contenido se ajuste a la línea */
}

.id-column {
  width: 40px; /* Ajusta esto al ancho que desees */
  overflow: hidden; /* Asegura que el contenido no se desborde */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el contenido es demasiado largo */
  white-space: nowrap; /* Evita que el contenido se ajuste a la línea */
}