/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .card {
    width: 100%;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: auto; /* Ajusta la altura según tus necesidades */
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;
  }
  
  .card-body {
    background-color: white;
    border-radius: 0 0 5px 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  
  /* Dark Mode */
  .card.dark-mode {
    background-color: #333;
    color: white;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  }
  
  .card-header.dark-mode {
    background-color: #444;
    color: white;
  }
  
  .card-body.dark-mode {
    background-color: #444;
  }
  
  .form-group label.dark-mode {
    color: white;
  }
  
  .form-control.dark-mode {
    background-color: #555;
    color: white;
  }
  
  .btn-primary.dark-mode {
    background-color: #0056b3;
    color: white;
  }
  
  .btn-secondary.dark-mode {
    background-color: #5a6268;
    color: white;
  }
  
  .btn-primary.dark-mode:hover {
    background-color: #004085;
  }
  
  .btn-secondary.dark-mode:hover {
    background-color: #495057;
  }
  