.main-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.menu-column {
  width: 200px;
  background-color: #343a40;
  color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content-column {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.card {
  width: 800px;
}

.main-title {
  font-size: 28px;
  font-weight: bold;
  color: #343a40;
  margin-bottom: 20px;
}

.content-column.dark-mode {
  flex-grow: 1;
  padding: 20px;
  background-color: #0e062f;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.main-title.dark-mode {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}
